.header {
  background: url(../img/header/background.png) center no-repeat;
  background-size: cover;
  .container {
    @include flex();
    position: relative;
    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }
  .logo-wrapper {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -32px;
    @include wh(320px, 63px);
    @media (max-width: 1200px) {
      align-self: center;
      position: unset;
      margin-top: 0;
      top: 0;
    }
  }
  &-wrapper {
    @include flex($wrap: wrap);
    padding: 30px 0;
  }
  &-nav {
    width: 540px;
    font-size: 19px;
    @include flex($justify: space-between, $wrap: wrap);
    &__item,
    &__item:hover {
      font-weight: 500;
      color: $text-nav;
    }
    &__item {
      position: relative;
      &::after {
        transition: 0.2s;
        content: "";
        background: transparent;
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 2px;
        width: 100%;
      }
      &:hover {
        &::after {
          background: $text-nav;
        }
      }
    }
    @media (max-width: 570px) {
      width: 300px;
    }
  }
}
