.main {
  background: url(../img/main/background.png) center no-repeat;
  position: relative;
  background-size: cover;
  z-index: 0;
  padding: 570px 0 50px 0;
  .container {
    &:before {
      z-index: 1;
      content: "";
      position: absolute;
      bottom: 0;
      width: 1300px;
      height: 354px;
      left: 50%;
      margin-left: -650px;
      background: rgba(255, 255, 255, 0.82);
      filter: blur(93px);
      opacity: 0.8;
      z-index: 1000;
      @media (max-width: 1350px) {
        width: 100%;
        margin-left: 0;
        left: 0;
      }
    }
  }
  &-wrapper {
    @include flex($direction: column);
    z-index: 1000;
    position: relative;
  }
  &-buttons {
    width: 1252px;
    @include flex($justify: space-between, $wrap: wrap);
    margin-bottom: 56px;
    a {
      box-shadow: 11px 14px 29px rgba(52, 170, 47, 0.4);
    }
    @media (max-width: 1350px) {
      width: 600px;
      justify-content: center;
      a {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  &-roller {
    cursor: pointer;
    position: relative;
    font-size: 22px;
    font-weight: 500;
    @include flex();
    background: rgba(white, 50%);
    box-shadow: 4px 7px 12px 3px rgba(0, 0, 0, 0.25);
    padding: 19px 42px 19px 28px;
    width: 351px;
    &__img {
      position: absolute;
      right: 22px;
      top: 50%;
      margin-top: -10px;
    }
    &__text {
      color: $text-blue;
    }
    @media (max-width: 365px) {
      width: auto;
      padding: 19px 42px 19px 2px;
    }
  }
}
